.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
  font-family: "Millimetre";

  // min-height: 10vh;
}
.home-link {
  cursor: pointer;
}
