.form-container-card {
  // border: solid gray 1px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--app-light);
  padding: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  // text-align: center;
}
input {
  border: none;
  border-bottom: solid gray 1px;
  border-radius: 0px;
  width: 500px;
}
textarea {
  border: none;
  border-bottom: solid gray 1px;
  border-radius: 0px;
  width: 500px;
}

select {
  width: 500px;
}

.form-container {
  width: 40vw;
  margin-top: 100px;
}

.validate {
  border: var(--app-primary);
}
