<form
  [formGroup]="taskForm"
  (ngSubmit)="onSubmit()"
  class="container form-container"
>
  <div class="form-container-card">
    <div class="form-group">
      <label for="title"></label>
      <input
        type="text"
        id="title"
        class="form-control shadow-none"
        placeholder="Titre..."
        formControlName="title"
        [ngClass]="
          taskForm.controls['title'].value?.length < 3
            ? 'border-bottom: inset solid 1px red'
            : 'border-bottom: inset solid 1px lightgray'
        "
      />
    </div>
    <div
      *ngIf="taskForm.controls['title'].errors?.['minlength']"
      class="alertInput"
    >
      Doit contenir au moins 3 caractères.
    </div>

    <div class="form-group">
      <label for="content"></label>
      <textarea
        id="content"
        class="form-control shadow-none"
        placeholder="Description..."
        formControlName="content"
        [ngClass]="
          taskForm.controls['content'].value?.length < 3
            ? 'border-bottom: inset solid 1px red'
            : 'border-bottom: inset solid 1px lightgray'
        "
      ></textarea>
    </div>
    <div
      *ngIf="taskForm.controls['content'].errors?.['minlength']"
      class="alertTextArea"
    >
      Doit contenir au moins 3 caractères.
    </div>

    <div class="form-group">
      <label for="states"></label>
      <select
        id="states"
        class="form-control"
        placeholder="Description..."
        formControlName="state"
      >
        <option [value]="state" *ngFor="let state of states">
          {{ state }}
        </option>
      </select>
    </div>

    <app-btn
      type="submit"
      [disabled]="taskForm.invalid"
      [label]="label"
      styleBtn="btnTest"
    ></app-btn>
  </div>
</form>
