button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnAdd {
  height: 38px;
  width: 38px;
  border-radius: 8px;
  color: var(--app-primary);
  font-size: 34px;
  border: none;
  // margin-left: -4px;
}

// .btnAdd:hover {
//   background: var(--app-secondary);
// }

.btnTest {
  background: white;
  width: 150px;
  height: 35px;
  margin-top: 30px;
  border-radius: 20px;
  color: var(--app-primary);
  border: none;
  border: solid 1px var(--app-primary);
}

.btnTest:hover {
  background: var(--app-primary);
  width: 150px;
  height: 35px;
  margin-top: 30px;
  border-radius: 20px;
  color: white;
  border: none;
}

.btnTest:disabled {
  border: lightgray solid 1px;
  color: lightgray;
}
.btnTest:disabled:hover {
  border: lightgray solid 1px;
  color: lightgray;
  background: white;
}

// @media(max-width: )
